Repository DataSentics/cq-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dummy, check-data-write-env, check-display-function, check-magic-commands, check-adaptive-query, check-distinct-count, check_cache_unpersist, check-hardcoded-env, check-adf-executes-ntb1

check-dummy:
  alias: error
  name: check-dummy
  description: Always pass; code contains minimum structure required for a check
  entry: python cqtools/checks/check_dummy.py
  language: system

check-data-write-env:
  alias: error
  name: check-data-write-env
  description: Check write env is always CURRENT_ENV and is takes from env. variable
  entry: python cqtools/checks/check_data_write_env.py
  language: system

check-display-function:
  alias: error
  name: check-display-function
  description: Check presence of display() function
  entry: python cqtools/checks/check_display_function.py
  language: system

check-magic-commands:
  alias: error
  name: check-magic-commands
  description: Check presence of magic commands
  entry: python cqtools/checks/check_magic_commands.py
  language: system

check-adaptive-query:
  alias: warning
  name: check-adaptive-query
  description: Check adaptive query optimization is turned on
  entry: python cqtools/checks/check_adaptive_query.py
  language: system

check-distinct-count:
  alias: warning
  name: check-distinct-count
  description: Contains distinct more than 5 times
  entry: python cqtools/checks/check_distinct_count.py
  language: system

check_cache_unpersist:
  alias: warning
  name: check_cache_unpersist
  description: Check that cache() and unpersist() are called same number of times
  entry: python cqtools/checks/check_cache_unpersist.py
  language: system

check-hardcoded-env:
  alias: error
  name: check-hardcoded-env
  description: Contains hardcoded environment name
  entry: python cqtools/checks/check_hardcoded_env.py
  language: system

check-adf-executes-ntb1:
  alias: error
  name: check-adf-executes-ntb1
  description: Contains hardcoded environment name
  entry: python cqtools/checks/check_adf_executes_ntb.py
  language: system
  require_serial: true

add adf job executed withing pipeline check
  .pre-commit-config.yaml
  cqtools/checks/check_adf_executes_ntb.py
  cqtools/checks/check_adf_executes_pipeline.py
  cqtools/checks/check_data_write_env.py
  tests/test_files/src/L4_pipeline_example.json
  tests/test_files/src/job_example_notebook2_nopipeline.json
Due: check-adf-executes-ntb1

fix adf checks
  .pre-commit-config.yaml
  Makefile
  cqtools/checks/check_adaptive_query.py
  cqtools/checks/check_adf_executes_ntb.py
  cqtools/checks/check_adf_executes_pipeline.py
  cqtools/checks/check_data_write_env.py
  cqtools/checks/check_hardcoded_env.py
  cqtools/checks/config.py
  cqtools/checks/utils.py
  tests/test_basic.py
  tests/test_files/src/for_each_example.json
  tests/test_files/src/job_example_notebook2_inforeach.json
Due: check-adf-executes-ntb1

refactor
  cqtools/checks/check_adaptive_query.py
  cqtools/checks/check_adf_executes_ntb.py
  cqtools/checks/check_adf_executes_pipeline.py
  cqtools/checks/check_cache_unpersist.py
  cqtools/checks/check_data_write_env.py
  cqtools/checks/check_display_function.py
  cqtools/checks/check_distinct_count.py
  cqtools/checks/check_dummy.py
  cqtools/checks/check_hardcoded_env.py
  cqtools/checks/check_magic_commands.py
  cqtools/checks/utils.py
Due: none

create functional tests
  Makefile
  tests/test_basic.py
  tests/test_files/src/example3.py
  tests/test_files/src/example8.py
  tests/test_files/src/example9.py
  tests/test_files/src/example_L4_for_each.json
  tests/test_files/src/example_L4_pipeline.json
  tests/test_files/src/example_adaptive_on.py
  tests/test_files/src/example_cache.py
  tests/test_files/src/example_cache_unpersist.py
  tests/test_files/src/example_display.py
  tests/test_files/src/example_distinct.py
  tests/test_files/src/example_magic_commented.py
  tests/test_files/src/example_magic_sh.py
  tests/test_files/src/example_no_pipeline.py
  tests/test_files/src/example_with_pipeline.py
  tests/test_files/src/example_with_pipeline2.py
  tests/test_files/src/example_write_current.py
  tests/test_files/src/example_write_multiple_assignment.py
  tests/test_files/src/example_write_prod.py
  tests/test_files/src/example_write_prod_multiline.py
  tests/test_files/src/job_example_notebook1.json
  tests/test_files/src/job_example_notebook2_inforeach.json
  tests/test_files/src/job_example_notebook2_nopipeline.json
  tests/test_functional.py
Due: check-dummy, check-data-write-env, check-display-function, check-magic-commands, check-adaptive-query, check-distinct-count, check_cache_unpersist, check-hardcoded-env, check-adf-executes-ntb1

fix imports
  .pre-commit-config.yaml
  Makefile
  cqtools/checks/check_adaptive_query.py
  cqtools/checks/check_adf_executes_ntb.py
  cqtools/checks/check_adf_executes_pipeline.py
  cqtools/checks/check_cache_unpersist.py
  cqtools/checks/check_data_write_env.py
  cqtools/checks/check_display_function.py
  cqtools/checks/check_distinct_count.py
  cqtools/checks/check_hardcoded_env.py
  cqtools/checks/check_magic_commands.py
  tests/poetry.lock
Due: none

fix description
  .pre-commit-config.yaml
Due: none

switch hook execution functionality to hook provider
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  Makefile
Due: none

fix import
  cqtools/checks/check_adf_executes_pipeline.py
Due: none

remove test poetry project
  tests/poetry.lock
  tests/pyproject.toml
Due: none

Path conditions:
  check-dummy: any of: tests/test_files/* and \.py$
  check-data-write-env: any of: tests/test_files/* and \.py$
  check-display-function: any of: tests/test_files/* and \.py$
  check-magic-commands: any of: tests/test_files/* and \.py$
  check-adaptive-query: any of: tests/test_files/* and \.py$
  check-distinct-count: any of: tests/test_files/* and \.py$
  check_cache_unpersist: any of: tests/test_files/* and \.py$
  check-hardcoded-env: any of: tests/test_files/src/* and \.py$
  check-adf-executes-ntb1: any of: tests\/test_files\/src\/job_.*\.(json|py)$
